TWITCH_BOT_USERNAME=EeveeAssist
TWITCH_OAUTH_TOKEN=oauth:xxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWITCH_CHANNEL=Cervantez47
ANTHROPIC_API_KEY=sk-ant-xxxxxxxxxxxxxxxxxxxxxxxxxxxx
POKEMON_TCG_API_KEY=your_pokemon_tcg_api_key
POKEMON_TCG_TEAM_ID=your_pokemon_tcg_team_id
BRAVE_SEARCH_API_KEY=your_brave_search_api_key
